
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fbfbfb;
    overflow-x: hidden;
}
.font-black-500{
    color: #050505;
}
.font-black-400{
    color: #484848;
}
.font-rubik-300{
    font-family: 'Rubik', sans-serif !important;
    font-weight: 300 !important;
}
.font-rubik-400{
    font-family: 'Rubik', sans-serif !important;
    font-weight:  bold !important;
    letter-spacing: .9px;
}
.font-rubik{
    font-family: 'Rubik', sans-serif !important;
}
.font-20{
    font-size: 25px;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px !important;
}
.font-15{
    font-size: 15px !important;
}
.font-14{
    font-size: 14px !important;
}
.font-13{
    font-size: 13.6px !important;
}
.font-12{
    font-size: 12px !important;
}
.text-letter{
    letter-spacing: 1.6px;
}
a{
    text-decoration: none;
    color: #484848;
}
a:hover{
    color: unset;
}
.active{
    font-size: 20px;
    color: #050505;
    font-weight: bold;
}
.nav-item{
    font-family: 'Rubik', sans-serif ;
    font-weight: 300 ;
}

.img-profile img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    object-position: center;
    
}
p{
    letter-spacing: 1.2px;
    font-family: 'Rubik', sans-serif ;
    color: #727272 !important;
    font-weight: 300;
}

nav .navbar-brand{
    display: none;
}
.sidenav{
    position: fixed;
    width: 23vw;
    border-right: 1px solid #050505;
}

.hover-underline {
    position: relative;
    cursor: pointer;
    list-style: none;
}
.hover-underline::after{
    content: '';
    background-color: #050505;
    position: absolute;
    left: 0;
    bottom: 0;
    height: .5px;
    width: 0;
    transition: .3s ease-out;
}
.hover-underline:hover::after{
    width: 100%;
}

.tag span{
    padding: 5px 6px;
    border: .6px solid #868686 ;
    border-radius: 4px;
    color: rgb(94, 94, 94) !important;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 12px;
}
.desc span{
    color: rgb(68, 68, 68) !important;
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: 1.2px;
}
.card{
    height: 72vh;
    border: 1px solid #a09f9f !important;
    border-radius: 2px;
    background: transparent;
}
.card img{
    object-fit: contain;
    object-position: center;
    
}

.book{
    border: 1px solid #a09f9f !important;
    border-right: 3px solid #1b1b1b !important;
    height: 18vh;
}
.book-img{
    margin-right: 10px;
}
.book-img img{
    object-fit: contain;
    object-position: center;
}

.category span{
    padding: 5px 6px;
    border: .6px solid #868686 ;
    border-radius: 4px;
    color: rgb(94, 94, 94) !important;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 10px;
}

.certification li a{
    font-size: 13.6px;
    font-weight: normal;
    letter-spacing: 1.9px;
    text-decoration: underline;
    color: black;
}
.tool-title{
    font-family: 'Rubik', sans-serif ;
    letter-spacing: 2px;
    font-weight: bold;
    color: #050505;
}
.tool-desc h6{
    font-weight: 400;
    font-family: 'Rubik', sans-serif ;
    letter-spacing: 1.2px;
    font-size: 14.5px;
    color: #050505;
}
@media screen and (max-width: 600px){
    .about p{
        font-size: .9rem !important;
    }
    nav{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        text-align: start;
        padding: 30px 11px !important;
        background-color: #fbfbfb !important;
        height: 0 !important;
        box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -moz-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        z-index: 999 !important;
    }
    nav .navbar-brand{
        display: block !important;
        margin-top: -20px;
        margin-left: 10px;
    }
    nav button{
        margin-right: 10px;
        margin-top: -5px;
        position: absolute;
        border: 0 !important;
        right: 0 !important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    nav ul{
        position: absolute;
        top: 30 !important;
        right: 0 !important;
        padding: 20px 30px !important;
        width: 70% !important;
        height: 100vh !important;
        background-color: #fbfbfbfa !important;
        box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -webkit-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -moz-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
    }
    nav ul li{
        padding: 12px 0px;
        border-bottom: .5px solid #d6d6d6 !important;
    }

    nav ul li:nth-child(1){
        border-top: .5px solid #d6d6d6 !important;
    }
    nav ul li a{
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 14px;
        color: #050505;
    }
    .sidenav{
        height: 0 !important;
        z-index: 99;
    }
    .navbar-collapse{
        padding: 10px 0px!important;
        width: 100% !important;
    }
    .hover-underline::after{
        display: none;
    }

    #projects .card{
        height: auto !important;
    }
    #projects .card-title{
        font-size: .9rem !important;
    }
    #projects .tag span{
        font-size: 10px !important;
    }
    #projects .desc span{
        font-size: .8rem !important;
    }

    .img-profile{
        margin-top: 2rem;
    }
    #bookshelf p{
        font-size: .9rem !important;
    }
    .category{
        width: auto !important;
    }
    .category span{
        font-size: .6rem !important;
    }
    .book-writer{
        font-size: .7rem !important;
    }
    .book-title{
        font-size: .9rem !important;
    }
    .book-img img{
        width: 50px !important;
    }
    #projects, 
    #bookshelf, 
    #certifications,
    #tools,
    #contact {
        padding-top: 4rem;
        margin-top: -3rem !important;
    }
}

@media screen and (min-width: 600px) and (max-width:767px){
    .about p{
        font-size: .9rem !important;
    }
    nav{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        text-align: start;
        padding: 30px 11px !important;
        background-color: #fbfbfb !important;
        height: 0 !important;
        box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -moz-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        z-index: 999 !important;
    }
    nav .navbar-brand{
        display: block !important;
        margin-top: -20px;
        margin-left: 10px;
    }
    nav button{
        margin-right: 10px;
        margin-top: -5px;
        position: absolute;
        border: 0 !important;
        right: 0 !important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    nav ul{
        position: absolute;
        top: 30 !important;
        right: 0 !important;
        padding: 20px 30px !important;
        width: 70% !important;
        height: 100vh !important;
        background-color: #fbfbfbfa !important;
        box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -webkit-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -moz-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
    }
    nav ul li{
        padding: 12px 0px;
        border-bottom: .5px solid #d6d6d6 !important;
    }

    nav ul li:nth-child(1){
        border-top: .5px solid #d6d6d6 !important;
    }
    nav ul li a{
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 14px;
        color: #050505;
    }
    .sidenav{
        height: 0 !important;
        z-index: 99;
    }
    .navbar-collapse{
        padding: 10px 0px!important;
        width: 100% !important;
    }
    .hover-underline::after{
        display: none;
    }

    #projects .card{
        height: auto !important;
    }
    #projects .card-title{
        font-size: .9rem !important;
    }
    #projects .tag span{
        font-size: 10px !important;
    }
    #projects .desc span{
        font-size: .8rem !important;
    }

    .img-profile{
        margin-top: 2rem;
    }
    #bookshelf p{
        font-size: .9rem !important;
    }
    .category{
        width: auto !important;
    }
    .category span{
        font-size: 8px !important;
    }
    .book-writer{
        font-size: .5rem !important;
    }
    .book-title{
        font-size: .8rem !important;
    }
    .book-img img{
        width: 50px !important;
    }
    #projects, 
    #bookshelf, 
    #certifications,
    #tools,
    #contact {
        padding-top: 4rem;
        margin-top: -3rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width:828px){
    .about p{
        font-size: .9rem !important;
    }
    nav{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        text-align: start;
        padding: 30px 11px !important;
        background-color: #fbfbfb !important;
        height: 0 !important;
        box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -moz-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        z-index: 999 !important;
    }
    nav .navbar-brand{
        display: block !important;
        margin-top: -20px;
        margin-left: 10px;
    }
    nav button{
        margin-right: 10px;
        margin-top: -5px;
        position: absolute;
        border: 0 !important;
        right: 0 !important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    nav ul{
        position: absolute;
        top: 30 !important;
        right: 0 !important;
        padding: 20px 30px !important;
        width: 70% !important;
        height: 100vh !important;
        background-color: #fbfbfbfa !important;
        box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -webkit-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -moz-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
    }
    nav ul li{
        padding: 12px 0px;
        border-bottom: .5px solid #d6d6d6 !important;
    }

    nav ul li:nth-child(1){
        border-top: .5px solid #d6d6d6 !important;
    }
    nav ul li a{
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 14px;
        color: #050505;
    }
    .sidenav{
        height: 0 !important;
        z-index: 99;
    }
    .navbar-collapse{
        padding: 10px 0px!important;
        width: 100% !important;
    }
    .hover-underline::after{
        display: none;
    }
    .content{
        width: 100%;
    }
    .about {
        width: 100%;
    }
    .post-project{
        width: 42vw !important;
    }
    #projects .card{
        height: 72.5vh !important;
    }
    #projects .card-title{
        font-size: .9rem !important;
    }
    #projects .tag{
        width: auto !important;
    }
    #projects .tag span{
        font-size: 10px !important;
    }
    #projects .desc span{
        font-size: .8rem !important;
    }

    #bookshelf p{
        font-size: 14px !important;
    }
    .category{
        width: auto !important;
    }
    .category span{
        font-size: 8px !important;
    }
    .book-writer{
        font-size: .7rem !important;
    }
    .book-title{
        font-size: .8rem !important;
    }
    .book-img img{
        width: 50px !important;
    }
}

@media screen and (min-width: 828px) and (max-width:927px) {
    .about p{
        font-size: .9rem !important;
    }
    nav{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        text-align: start;
        padding: 30px 11px !important;
        background-color: #fbfbfb !important;
        height: 0 !important;
        box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -moz-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        z-index: 999 !important;
    }
    nav .navbar-brand{
        display: block !important;
        margin-top: -20px;
        margin-left: 10px;
    }
    nav button{
        margin-right: 10px;
        margin-top: -5px;
        position: absolute;
        border: 0 !important;
        right: 0 !important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    nav ul{
        position: absolute;
        top: 30 !important;
        right: 0 !important;
        padding: 20px 30px !important;
        width: 70% !important;
        height: 100vh !important;
        background-color: #fbfbfbfa !important;
        box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -webkit-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -moz-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
    }
    nav ul li{
        padding: 12px 0px;
        border-bottom: .5px solid #d6d6d6 !important;
    }

    nav ul li:nth-child(1){
        border-top: .5px solid #d6d6d6 !important;
    }
    nav ul li a{
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 14px;
        color: #050505;
    }
    .sidenav{
        height: 0 !important;
        z-index: 99;
    }
    .navbar-collapse{
        padding: 10px 0px!important;
        width: 100% !important;
    }
    .hover-underline::after{
        display: none;
    }
    .content{
        width: 100%;
    }
    .about {
        width: 100%;
    }
    .post-project{
        width: 40vw !important;
    }
    #projects .card{
        height: 72.5vh !important;
    }
    #projects .card-title{
        font-size: .9rem !important;
    }
    #projects .tag{
        width: auto !important;
    }
    #projects .tag span{
        font-size: 10px !important;
    }
    #projects .desc span{
        font-size: .8rem !important;
    }

    #bookshelf p{
        font-size: 14px !important;
    }
    .category{
        width: auto !important;
    }
    .category span{
        font-size: 8px !important;
    }
    .book-writer{
        font-size: .7rem !important;
    }
    .book-title{
        font-size: .8rem!important;
    }
    .book-img img{
        width: 50px !important;
    }
}
@media screen and (min-width: 928px) and (max-width:991px) {
    .about p{
        font-size: .9rem !important;
    }
    nav{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        text-align: start;
        padding: 30px 11px !important;
        background-color: #fbfbfb !important;
        height: 0 !important;
        box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -webkit-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        -moz-box-shadow: 0px 1px 7px 0px rgba(191,191,191,1);
        z-index: 999 !important;
    }
    nav .navbar-brand{
        display: block !important;
        margin-top: -20px;
        margin-left: 10px;
    }
    nav button{
        margin-right: 10px;
        margin-top: -5px;
        position: absolute;
        border: 0 !important;
        right: 0 !important;
    }
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }
    nav ul{
        position: absolute;
        top: 30 !important;
        right: 0 !important;
        padding: 20px 30px !important;
        width: 70% !important;
        height: 100vh !important;
        background-color: #fbfbfbfa !important;
        box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -webkit-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
        -moz-box-shadow: -1px 8px 10px 0px rgba(138,138,138,0.66);
    }
    nav ul li{
        padding: 12px 0px;
        border-bottom: .5px solid #d6d6d6 !important;
    }

    nav ul li:nth-child(1){
        border-top: .5px solid #d6d6d6 !important;
    }
    nav ul li a{
        font-weight: 400;
        letter-spacing: 1.5px;
        font-size: 14px;
        color: #050505;
    }
    .sidenav{
        height: 0 !important;
        z-index: 99;
    }
    .navbar-collapse{
        padding: 10px 0px!important;
        width: 100% !important;
    }
    .hover-underline::after{
        display: none;
    }
    .content{
        width: 100%;
    }
    .about {
        width: 100%;
    }
    .post-project{
        width: 40vw !important;
    }
    #projects .card{
        height: 58vh !important;
    }
    #projects .card-title{
        font-size: .9rem !important;
    }
    #projects .tag{
        width: auto !important;
    }
    #projects .tag span{
        font-size: 10px !important;
    }
    #projects .desc span{
        font-size: .8rem !important;
    }

    #bookshelf p{
        font-size: 14px !important;
    }
    .category{
        width: auto !important;
    }
    .category span{
        font-size: .7rem !important;
    }
    .book-writer{
        font-size: .9rem !important;
    }
    .book-title{
        font-size: 1rem!important;
    }
    .book-img img{
        width: 70px !important;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px) {
    .about p{
        font-size: .9rem !important;
    }
    .about{
        width: 90%;
    }
    .post-project{
        width: 32vw !important;
    }
    #projects .card{
        height: auto !important;
    }
    #projects .card-title{
        font-size: .9rem !important;
    }
    #projects .tag{
        width: auto !important;
    }
    #projects .tag span{
        font-size: 10px !important;
    }
    #projects .desc span{
        font-size: .8rem !important;
    }

    #bookshelf p{
        font-size: 14px !important;
    }
    .category{
        width: auto !important;
    }
    .category span{
        font-size: .5rem !important;
    }
    .book-writer{
        font-size: .7rem !important;
    }
    .book-title{
        font-size: .9rem!important;
    }
    .book-img img{
        width: 50px !important;
    }
}
